checkpoint/
*.pyc
/*.log
*ptm
.vscode
*visualize_images*/
*_tsne_*
*hard_triplet_*
*_feature.pkl
Visualize_Network_*
hard_mining/
backup.py
*pdf
*.bak*
*.sh
KAIR
*/trainsets/train/trainH/*
!*/trainsets/train/trainH/0001.png
*/trainsets/train/trainL/*
!*/trainsets/train/trainL/0001x8.png
*/trainsets/valid/validH/*
!*/trainsets/valid/validH/0801.png
*/trainsets/valid/validL/*
!*/trainsets/valid/validL/0801x8.png
*/testsets/*
!*/testsets/Set14/LRbicx2/facex2.png
*.pth